# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/
dist/

# Build output
.vite/

# Environment files
.env
.env.local

# Vite cache and metadata
.vite/deps/

# IDE specific files
.vscode/
.idea/
.continue/

# Other system files
.DS_Store
Thumbs.db