<div class="app-topstrip p-y-16 p-x-24 w-100 d-flex">
    <div class="d-none d-sm-flex align-items-center justify-content-center">
        <a class="d-flex align-items-center" routerLink="/">
            <img src="assets/images/logos/logo.png" alt="" style="height: 32px; width: auto; display: block" />
        </a>
    </div>

    <div class="topstrip-right d-flex align-items-center justify-content-center gap-16">
        <h6 class="text-linear-gradient f-s-14 text-uppercase text-lg-left text-center">Mariage Amaury & Thibaud</h6>
    </div>
</div>