@use "sass:map";
@use "@angular/material" as mat;
@use "../variables" as *;

html {
  @include mat.theme(
    (
      color: mat.$rose-palette,
      typography: $font-family,
    )
  );

  @include mat.theme-overrides(
    (
      primary: rgb(161, 64, 68),
      secondary: rgb(171, 188, 166),
      tertiary: rgb(184, 149, 106),
      error: rgb(180, 74, 70),
      body-medium-size: 14px,
      body-large-size: 15px,
      outline-variant: #c8d0c4,
      outline: #b8c4b0,
      level1: 0px 10px 28px -6px rgb(44 36 51 / 12%),
      level2: rgba(44, 36, 51, 0.08) 0px 2px 14px,
      level3: 0px 12px 32px -8px rgb(161 64 68 / 14%),
    )
  );
}
