<div class="login-wrapper">
  <mat-card>
    <mat-card-title>Accès au faire‑part</mat-card-title>
    <mat-card-content>
      <p>Entrez votre code personnel pour accéder au jeu.</p>
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Code personnel</mat-label>
          <input matInput id="code" name="code" [(ngModel)]="code" (input)="onInput()"
                 placeholder="Ex: UOQ612TC" autocomplete="one-time-code" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!code" class="full">Valider</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
