html .blue_theme {
  --mat-sys-primary: rgb(161, 64, 68);
  --mat-sys-primary-fixed-dim: rgba(161, 64, 68, 0.14);
  --mat-sys-secondary: rgb(171, 188, 166);
  --mat-sys-secondary-fixed-dim: rgba(171, 188, 166, 0.22);
}